<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{500,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,392}}</string>
			<key>sourceSize</key>
			<string>{500,392}</string>
		</dict>
		<key>c_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,762},{389,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,342}}</string>
			<key>sourceSize</key>
			<string>{389,342}</string>
		</dict>
		<key>c_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,504},{500,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,256}}</string>
			<key>sourceSize</key>
			<string>{500,256}</string>
		</dict>
		<key>c_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{480,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,480}}</string>
			<key>sourceSize</key>
			<string>{480,480}</string>
		</dict>
		<key>c_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1446},{424,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,416}}</string>
			<key>sourceSize</key>
			<string>{424,416}</string>
		</dict>
		<key>c_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,2},{300,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,229}}</string>
			<key>sourceSize</key>
			<string>{300,229}</string>
		</dict>
		<key>l_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1446},{415,385}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,385}}</string>
			<key>sourceSize</key>
			<string>{415,385}</string>
		</dict>
		<key>l_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,304},{94,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,100}}</string>
			<key>sourceSize</key>
			<string>{94,100}</string>
		</dict>
		<key>startLayer.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,960}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,960}}</string>
			<key>sourceSize</key>
			<string>{320,960}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>map_clouds.png</string>
		<key>size</key>
		<string>{949,1864}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:99606af4dcabde4deb26877da33ef5e3$</string>
		<key>textureFileName</key>
		<string>map_clouds.png</string>
	</dict>
</dict>
</plist>
