<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_2_p_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,88}}</string>
			<key>sourceSize</key>
			<string>{150,88}</string>
		</dict>
		<key>m_2_p_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>map_2.png</string>
		<key>size</key>
		<string>{204,294}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:291346eb4afe68707e37100bc3564267$</string>
		<key>textureFileName</key>
		<string>map_2.png</string>
	</dict>
</dict>
</plist>
