<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_bullet_10_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,42},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>b_bullet_1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>b_bullet_2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,38},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>b_bullet_3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{8,8}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>b_bullet_4_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>b_bullet_5_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,24},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>b_bullet_6_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,58},{34,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{34,24}}</string>
			<key>sourceSize</key>
			<string>{36,26}</string>
		</dict>
		<key>b_bullet_7_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>b_bullet_8_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,90},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>b_bullet_9_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_10_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,40},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>e_bullet_10_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,42},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_10_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,28},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>e_bullet_10_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,28},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>e_bullet_10_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,28},{12,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,31}}</string>
			<key>sourceSize</key>
			<string>{12,31}</string>
		</dict>
		<key>e_bullet_10_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,58},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_10_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,58},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_10_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,54},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_10_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,42},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_10_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,42},{14,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{14,34}}</string>
			<key>sourceSize</key>
			<string>{14,36}</string>
		</dict>
		<key>e_bullet_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>e_bullet_1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,10},{12,14}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>e_bullet_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{8,8}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>e_bullet_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,10}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>e_bullet_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>e_bullet_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{8,8}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>e_bullet_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,10}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>e_bullet_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,8}}</string>
			<key>sourceSize</key>
			<string>{8,8}</string>
		</dict>
		<key>e_bullet_1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,2},{8,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{8,8}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>e_bullet_1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,10}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>e_bullet_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{6,16}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>e_bullet_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,42},{14,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,29}}</string>
			<key>sourceSize</key>
			<string>{14,29}</string>
		</dict>
		<key>e_bullet_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,2},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>e_bullet_3_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,14},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>e_bullet_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_4_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,132},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,28},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,14},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,28},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,28},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,26},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,26},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,24},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,14},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,14},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_5_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,14},{12,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,28}}</string>
			<key>sourceSize</key>
			<string>{12,28}</string>
		</dict>
		<key>e_bullet_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,14},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_6_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,12},{10,17}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{10,17}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>e_bullet_7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_7_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,42},{14,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{14,27}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>e_bullet_8_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,84},{42,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>e_bullet_8_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,90},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>e_bullet_8_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,74},{42,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>e_bullet_8_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,74},{42,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>e_bullet_8_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,58},{42,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>e_bullet_8_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,58},{42,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>e_bullet_8_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,132},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>e_bullet_8_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,116},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>e_bullet_8_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,106},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>e_bullet_8_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,106},{42,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{50,40}</string>
		</dict>
		<key>e_bullet_9_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>e_bullet_9_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,90},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>e_bullets.png</string>
		<key>size</key>
		<string>{255,174}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:809fd2d00155739e003ac7ec20344250$</string>
		<key>textureFileName</key>
		<string>e_bullets.png</string>
	</dict>
</dict>
</plist>
