<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explode_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,161},{24,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,37}}</string>
			<key>sourceSize</key>
			<string>{24,37}</string>
		</dict>
		<key>explode_B_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,42},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,42},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,42},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,42},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,2},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,2},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,2},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,122},{25,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,37}}</string>
			<key>sourceSize</key>
			<string>{25,37}</string>
		</dict>
		<key>explode_B_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,162},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>explode_B_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,122},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,122},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,36}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>explode_B_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,160},{25,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,34}}</string>
			<key>sourceSize</key>
			<string>{25,34}</string>
		</dict>
		<key>explode_B_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,200},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>explode_B_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,200},{21,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,32}}</string>
			<key>sourceSize</key>
			<string>{21,32}</string>
		</dict>
		<key>explode_B_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,196},{21,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,28}}</string>
			<key>sourceSize</key>
			<string>{21,28}</string>
		</dict>
		<key>explode_B_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,82},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,82},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,82},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>explode_B_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,82},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explode_B.png</string>
		<key>size</key>
		<string>{110,242}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:77903ca808c47366e7a30d59ebbfe685$</string>
		<key>textureFileName</key>
		<string>explode_B.png</string>
	</dict>
</dict>
</plist>
