<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>medal_box_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,24},{640,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,49}}</string>
			<key>sourceSize</key>
			<string>{640,49}</string>
		</dict>
		<key>medal_box_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{640,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{640,20}}</string>
			<key>sourceSize</key>
			<string>{640,20}</string>
		</dict>
		<key>medal_mask_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{320,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,139}}</string>
			<key>sourceSize</key>
			<string>{320,139}</string>
		</dict>
		<key>medal_mask_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,143},{320,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,140}}</string>
			<key>sourceSize</key>
			<string>{320,140}</string>
		</dict>
		<key>medal_minibox_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,75},{546,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{546,134}}</string>
			<key>sourceSize</key>
			<string>{546,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>medal-hd.png</string>
		<key>size</key>
		<string>{966,285}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5972296aeceec243df36831b77c6bad7$</string>
		<key>textureFileName</key>
		<string>medal-hd.png</string>
	</dict>
</dict>
</plist>
