<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>icon_medal_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,215},{85,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,98}}</string>
			<key>sourceSize</key>
			<string>{85,98}</string>
		</dict>
		<key>icon_medal_10_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,2},{76,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,92}}</string>
			<key>sourceSize</key>
			<string>{76,92}</string>
		</dict>
		<key>icon_medal_11_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,101},{100,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,89}}</string>
			<key>sourceSize</key>
			<string>{100,89}</string>
		</dict>
		<key>icon_medal_12_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{97,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,97}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>icon_medal_13_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,183},{74,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,87}}</string>
			<key>sourceSize</key>
			<string>{74,87}</string>
		</dict>
		<key>icon_medal_14_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,219},{90,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,91}}</string>
			<key>sourceSize</key>
			<string>{90,91}</string>
		</dict>
		<key>icon_medal_15_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,365},{99,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,76}}</string>
			<key>sourceSize</key>
			<string>{99,76}</string>
		</dict>
		<key>icon_medal_16_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,2},{96,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,97}}</string>
			<key>sourceSize</key>
			<string>{96,97}</string>
		</dict>
		<key>icon_medal_17_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,192},{99,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,85}}</string>
			<key>sourceSize</key>
			<string>{99,85}</string>
		</dict>
		<key>icon_medal_18_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,361},{89,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,87}}</string>
			<key>sourceSize</key>
			<string>{89,87}</string>
		</dict>
		<key>icon_medal_19_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,312},{88,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,92}}</string>
			<key>sourceSize</key>
			<string>{88,92}</string>
		</dict>
		<key>icon_medal_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,277},{92,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,86}}</string>
			<key>sourceSize</key>
			<string>{92,86}</string>
		</dict>
		<key>icon_medal_20_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,315},{89,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,85}}</string>
			<key>sourceSize</key>
			<string>{89,85}</string>
		</dict>
		<key>icon_medal_21_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,279},{87,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,87}}</string>
			<key>sourceSize</key>
			<string>{87,87}</string>
		</dict>
		<key>icon_medal_22_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,272},{91,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,87}}</string>
			<key>sourceSize</key>
			<string>{91,87}</string>
		</dict>
		<key>icon_medal_23_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,402},{89,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,78}}</string>
			<key>sourceSize</key>
			<string>{89,78}</string>
		</dict>
		<key>icon_medal_24_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{88,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,76}}</string>
			<key>sourceSize</key>
			<string>{88,76}</string>
		</dict>
		<key>icon_medal_25_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,101},{92,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,92}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>icon_medal_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,126},{100,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,87}}</string>
			<key>sourceSize</key>
			<string>{100,87}</string>
		</dict>
		<key>icon_medal_4_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{96,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,91}}</string>
			<key>sourceSize</key>
			<string>{96,91}</string>
		</dict>
		<key>icon_medal_5_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,452},{88,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,64}}</string>
			<key>sourceSize</key>
			<string>{88,64}</string>
		</dict>
		<key>icon_medal_6_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,443},{68,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,91}}</string>
			<key>sourceSize</key>
			<string>{68,91}</string>
		</dict>
		<key>icon_medal_7_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,96},{81,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,85}}</string>
			<key>sourceSize</key>
			<string>{81,85}</string>
		</dict>
		<key>icon_medal_8_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,195},{102,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,80}}</string>
			<key>sourceSize</key>
			<string>{102,80}</string>
		</dict>
		<key>icon_medal_9_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,368},{91,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,82}}</string>
			<key>sourceSize</key>
			<string>{91,82}</string>
		</dict>
		<key>icon_medal_box_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,2},{112,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,122}}</string>
			<key>sourceSize</key>
			<string>{112,122}</string>
		</dict>
		<key>icon_medal_box_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{112,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,122}}</string>
			<key>sourceSize</key>
			<string>{112,122}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>medal_icons.png</string>
		<key>size</key>
		<string>{510,536}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:5ae35dbb4b9720e0bbff156823e17772$</string>
		<key>textureFileName</key>
		<string>medal_icons_0.png</string>
	</dict>
</dict>
</plist>
