<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>back_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,426},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,375},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>btA_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,63},{105,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,54}}</string>
			<key>sourceSize</key>
			<string>{105,54}</string>
		</dict>
		<key>btA_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,338},{105,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,54}}</string>
			<key>sourceSize</key>
			<string>{105,54}</string>
		</dict>
		<key>btB_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,399},{83,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,61}}</string>
			<key>sourceSize</key>
			<string>{83,61}</string>
		</dict>
		<key>btB_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,394},{83,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,61}}</string>
			<key>sourceSize</key>
			<string>{83,61}</string>
		</dict>
		<key>btD_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,270},{108,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,35}}</string>
			<key>sourceSize</key>
			<string>{108,35}</string>
		</dict>
		<key>btD_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,2},{108,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,35}}</string>
			<key>sourceSize</key>
			<string>{108,35}</string>
		</dict>
		<key>bt_buy_gem_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,411},{78,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,30}}</string>
			<key>sourceSize</key>
			<string>{78,30}</string>
		</dict>
		<key>bt_buy_gem_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,175},{78,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,30}}</string>
			<key>sourceSize</key>
			<string>{78,30}</string>
		</dict>
		<key>bt_buy_gem_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,2},{78,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,30}}</string>
			<key>sourceSize</key>
			<string>{78,30}</string>
		</dict>
		<key>bt_main_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,367},{284,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,42}}</string>
			<key>sourceSize</key>
			<string>{284,42}</string>
		</dict>
		<key>bt_main_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,323},{284,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,42}}</string>
			<key>sourceSize</key>
			<string>{284,42}</string>
		</dict>
		<key>bt_main_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,279},{284,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,42}}</string>
			<key>sourceSize</key>
			<string>{284,42}</string>
		</dict>
		<key>bt_mission_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,227},{284,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,50}}</string>
			<key>sourceSize</key>
			<string>{284,50}</string>
		</dict>
		<key>bt_mission_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{284,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,50}}</string>
			<key>sourceSize</key>
			<string>{284,50}</string>
		</dict>
		<key>bt_mission_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,123},{284,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,50}}</string>
			<key>sourceSize</key>
			<string>{284,50}</string>
		</dict>
		<key>bt_mission_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,71},{284,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,50}}</string>
			<key>sourceSize</key>
			<string>{284,50}</string>
		</dict>
		<key>close_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,207},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>close_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,207},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>itemB_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,201},{87,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,67}}</string>
			<key>sourceSize</key>
			<string>{87,67}</string>
		</dict>
		<key>itemB_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,132},{87,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,67}}</string>
			<key>sourceSize</key>
			<string>{87,67}</string>
		</dict>
		<key>itemB_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,63},{87,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,67}}</string>
			<key>sourceSize</key>
			<string>{87,67}</string>
		</dict>
		<key>item_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,307},{44,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,66}}</string>
			<key>sourceSize</key>
			<string>{44,66}</string>
		</dict>
		<key>item_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,331},{44,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,66}}</string>
			<key>sourceSize</key>
			<string>{44,66}</string>
		</dict>
		<key>item_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,270},{44,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,66}}</string>
			<key>sourceSize</key>
			<string>{44,66}</string>
		</dict>
		<key>medal_minibox_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{273,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,67}}</string>
			<key>sourceSize</key>
			<string>{273,67}</string>
		</dict>
		<key>option_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,119},{65,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,54}}</string>
			<key>sourceSize</key>
			<string>{65,54}</string>
		</dict>
		<key>option_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,119},{65,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,54}}</string>
			<key>sourceSize</key>
			<string>{65,54}</string>
		</dict>
		<key>sound_slider_bg_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,307},{103,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,22}}</string>
			<key>sourceSize</key>
			<string>{103,22}</string>
		</dict>
		<key>sound_slider_bg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,39},{103,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,22}}</string>
			<key>sourceSize</key>
			<string>{103,22}</string>
		</dict>
		<key>sound_slider_bt_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,253},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>sound_slider_bt_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>allBt.png</string>
		<key>size</key>
		<string>{511,477}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:98078457a4ca4cf5a1a6739b56a5d9a1$</string>
		<key>textureFileName</key>
		<string>allBt.png</string>
	</dict>
</dict>
</plist>
