<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_life_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,44},{25,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,2}}</string>
			<key>sourceSize</key>
			<string>{25,2}</string>
		</dict>
		<key>icon_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,2},{43,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,28}}</string>
			<key>sourceSize</key>
			<string>{43,28}</string>
		</dict>
		<key>icon_buyGemList_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{31,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,33}}</string>
			<key>sourceSize</key>
			<string>{31,33}</string>
		</dict>
		<key>icon_buyGemList_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,88},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>icon_buyGemList_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,49},{40,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,43}}</string>
			<key>sourceSize</key>
			<string>{40,43}</string>
		</dict>
		<key>icon_buyGemList_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,48},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>icon_buyGemList_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,48},{42,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,38}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>icon_buyGemList_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>icon_buyGemList_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,2},{42,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,31}}</string>
			<key>sourceSize</key>
			<string>{42,31}</string>
		</dict>
		<key>icon_enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,20},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{16,14}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>icon_gem.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,32},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>icon_get.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,59},{71,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,23}}</string>
			<key>sourceSize</key>
			<string>{71,23}</string>
		</dict>
		<key>icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,27},{18,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,21}}</string>
			<key>sourceSize</key>
			<string>{18,21}</string>
		</dict>
		<key>icon_medal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{32,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,45}}</string>
			<key>sourceSize</key>
			<string>{32,45}</string>
		</dict>
		<key>icon_music.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,94},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>icon_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,67},{33,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,19}}</string>
			<key>sourceSize</key>
			<string>{33,19}</string>
		</dict>
		<key>icon_noget.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,88},{71,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,23}}</string>
			<key>sourceSize</key>
			<string>{71,23}</string>
		</dict>
		<key>icon_plain.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{20,16}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>icon_sfx.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,94},{30,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>icon_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{22,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{22,23}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>icon_tipBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,35},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>icon_unknown.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,90},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>icon_warning.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,32},{26,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,23}}</string>
			<key>sourceSize</key>
			<string>{26,23}</string>
		</dict>
		<key>plain_life_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,44},{25,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,2}}</string>
			<key>sourceSize</key>
			<string>{25,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>icons.png</string>
		<key>size</key>
		<string>{255,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a8af3e7b742f1ab41364d18a31f42297$</string>
		<key>textureFileName</key>
		<string>icons.png</string>
	</dict>
</dict>
</plist>
