<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>plain_1_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,306},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_1_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,116},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_1_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,57},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>plain_1_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,178},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>plain_1_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,58},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>plain_1_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,240},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>plain_1_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,308},{30,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,33}}</string>
			<key>sourceSize</key>
			<string>{30,33}</string>
		</dict>
		<key>plain_1_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,279},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_1_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,245},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>plain_1_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,279},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_1_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,277},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_1_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,178},{28,29}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>plain_1_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,243},{28,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,32}}</string>
			<key>sourceSize</key>
			<string>{28,32}</string>
		</dict>
		<key>plain_1_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,178},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_1_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,177},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_2_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,211},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>plain_2_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,312},{28,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,37}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>plain_2_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,351},{34,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,40}}</string>
			<key>sourceSize</key>
			<string>{34,40}</string>
		</dict>
		<key>plain_2_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,348},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>plain_2_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,348},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>plain_2_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,345},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>plain_2_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,314},{34,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{34,36}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>plain_2_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,209},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>plain_2_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,208},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>plain_2_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,212},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>plain_2_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,276},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_2_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,276},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_2_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,273},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>plain_2_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,311},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>plain_2_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,308},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>plain_3_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,29},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>plain_3_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>plain_3_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,58},{33,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,27}}</string>
			<key>sourceSize</key>
			<string>{33,27}</string>
		</dict>
		<key>plain_3_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,29},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>plain_3_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,29},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>plain_3_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{33,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,28}}</string>
			<key>sourceSize</key>
			<string>{33,28}</string>
		</dict>
		<key>plain_3_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,119},{34,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,28}}</string>
			<key>sourceSize</key>
			<string>{34,28}</string>
		</dict>
		<key>plain_3_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,29},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>plain_3_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,57},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_3_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,57},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_3_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,116},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_3_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_3_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,89},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_3_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_3_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,30},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_4_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>plain_4_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,180},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>plain_4_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,243},{32,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,31}}</string>
			<key>sourceSize</key>
			<string>{32,31}</string>
		</dict>
		<key>plain_4_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,119},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>plain_4_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,311},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>plain_4_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>plain_4_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,117},{33,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,28}}</string>
			<key>sourceSize</key>
			<string>{33,28}</string>
		</dict>
		<key>plain_4_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,149},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,149},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,149},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,147},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,147},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,147},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_4_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,146},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_5_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,89},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,116},{28,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,29}}</string>
			<key>sourceSize</key>
			<string>{28,29}</string>
		</dict>
		<key>plain_5_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,211},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>plain_5_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,180},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>plain_5_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,180},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>plain_5_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,211},{33,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,30}}</string>
			<key>sourceSize</key>
			<string>{33,30}</string>
		</dict>
		<key>plain_5_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,343},{34,37}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>plain_5_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,87},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,87},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,86},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,86},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,86},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,59},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_5_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,59},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>plain_6_lv_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,30},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_6_lv_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,209},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>plain_6_lv_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>plain_6_lv_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,241},{32,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,31}}</string>
			<key>sourceSize</key>
			<string>{32,31}</string>
		</dict>
		<key>plain_6_lv_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,243},{33,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,31}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>plain_6_lv_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,274},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>plain_6_lv_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,29},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_6_lv_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,29},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>plain_6_lv_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>plain_6_lv_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,2},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>plains.png</string>
		<key>size</key>
		<string>{255,393}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a741a4650ce2c3e7b4cb1107b140c653$</string>
		<key>textureFileName</key>
		<string>plains.png</string>
	</dict>
</dict>
</plist>
