<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bt_arrow_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,102},{63,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,74}}</string>
			<key>sourceSize</key>
			<string>{65,74}</string>
		</dict>
		<key>bt_arrow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{65,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,74}}</string>
			<key>sourceSize</key>
			<string>{65,74}</string>
		</dict>
		<key>bt_arrow_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,78},{63,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,74}}</string>
			<key>sourceSize</key>
			<string>{65,74}</string>
		</dict>
		<key>dijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{161,98}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{161,98}}</string>
			<key>sourceSize</key>
			<string>{161,118}</string>
		</dict>
		<key>dijia2.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{14,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,110}}</string>
			<key>sourceSize</key>
			<string>{14,110}</string>
		</dict>
		<key>gemTip_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,102},{66,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,24}}</string>
			<key>sourceSize</key>
			<string>{66,24}</string>
		</dict>
		<key>numBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,154},{99,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,20}}</string>
			<key>sourceSize</key>
			<string>{99,20}</string>
		</dict>
		<key>plain_progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,102},{25,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,3}}</string>
			<key>sourceSize</key>
			<string>{25,3}</string>
		</dict>
		<key>plain_progress_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,128},{35,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,41}}</string>
			<key>sourceSize</key>
			<string>{35,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>playerBag.png</string>
		<key>size</key>
		<string>{248,178}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4e4d64774c2ddc108192a15b43987c8e$</string>
		<key>textureFileName</key>
		<string>playerBag.png</string>
	</dict>
</dict>
</plist>
