<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>upgrade_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,91}}</string>
			<key>sourceSize</key>
			<string>{126,91}</string>
		</dict>
		<key>upgrade_box_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,95},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>upgrade_box_mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{50,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,69}}</string>
			<key>sourceSize</key>
			<string>{50,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>upgrade.png</string>
		<key>size</key>
		<string>{182,115}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:989b36387cb9e56e26caab0f9b638662$</string>
		<key>textureFileName</key>
		<string>upgrade.png</string>
	</dict>
</dict>
</plist>
