<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>base_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{130,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,57}}</string>
			<key>sourceSize</key>
			<string>{130,57}</string>
		</dict>
		<key>base_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{132,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,79}}</string>
			<key>sourceSize</key>
			<string>{132,79}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bases.png</string>
		<key>size</key>
		<string>{136,142}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c1f121393ab1a370e9ec41bdbfcaf732$</string>
		<key>textureFileName</key>
		<string>bases.png</string>
	</dict>
</dict>
</plist>
