<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>battle_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,2},{316,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,22}}</string>
			<key>sourceSize</key>
			<string>{316,22}</string>
		</dict>
		<key>battle_lifeBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,2},{99,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,12}}</string>
			<key>sourceSize</key>
			<string>{99,12}</string>
		</dict>
		<key>battle_life_enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{97,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,9}}</string>
			<key>sourceSize</key>
			<string>{97,9}</string>
		</dict>
		<key>battle_life_plain.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,2},{97,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,9}}</string>
			<key>sourceSize</key>
			<string>{97,9}</string>
		</dict>
		<key>battle_pause_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{56,28}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{56,28}}</string>
			<key>sourceSize</key>
			<string>{62,30}</string>
		</dict>
		<key>battle_pause_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,287},{62,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,30}}</string>
			<key>sourceSize</key>
			<string>{62,30}</string>
		</dict>
		<key>map_bomb.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,103},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>map_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,2},{32,146}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,146}}</string>
			<key>sourceSize</key>
			<string>{32,154}</string>
		</dict>
		<key>map_enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,320},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>map_plain.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,229},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>map_screen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,321},{30,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{30,37}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>plain_progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,403},{25,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,3}}</string>
			<key>sourceSize</key>
			<string>{25,3}</string>
		</dict>
		<key>progressImg.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,229},{43,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{43,56}}</string>
			<key>sourceSize</key>
			<string>{49,66}</string>
		</dict>
		<key>progressImg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,150},{77,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{77,57}}</string>
			<key>sourceSize</key>
			<string>{87,67}</string>
		</dict>
		<key>stageName_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{32,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,11}}</string>
			<key>sourceSize</key>
			<string>{32,11}</string>
		</dict>
		<key>titleBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,30}}</string>
			<key>sourceSize</key>
			<string>{317,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>battle.png</string>
		<key>size</key>
		<string>{128,408}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d8b48457e3efafb3b7b251fbbd75d994$</string>
		<key>textureFileName</key>
		<string>battle.png</string>
	</dict>
</dict>
</plist>
