<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_bullet_10_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,26},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>b_bullet_1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,8},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>b_bullet_2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,9},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>b_bullet_3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,2},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>b_bullet_4_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>b_bullet_5_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,10},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>b_bullet_6_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,42},{18,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,13}}</string>
			<key>sourceSize</key>
			<string>{18,13}</string>
		</dict>
		<key>b_bullet_7_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>b_bullet_8_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,61},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>b_bullet_9_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_10_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,25},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>e_bullet_10_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,26},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_10_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,25},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>e_bullet_10_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{11,25},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>e_bullet_10_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,18},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>e_bullet_10_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,35},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_10_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,35},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_10_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,33},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_10_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,33},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_10_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,33},{7,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,18}}</string>
			<key>sourceSize</key>
			<string>{7,18}</string>
		</dict>
		<key>e_bullet_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>e_bullet_1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,23},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>e_bullet_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,2},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>e_bullet_1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>e_bullet_1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>e_bullet_1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,2},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>e_bullet_1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>e_bullet_1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>e_bullet_1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,2},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>e_bullet_1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,6}}</string>
			<key>sourceSize</key>
			<string>{6,6}</string>
		</dict>
		<key>e_bullet_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2},{4,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,9}}</string>
			<key>sourceSize</key>
			<string>{4,9}</string>
		</dict>
		<key>e_bullet_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,8},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,25},{7,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,15}}</string>
			<key>sourceSize</key>
			<string>{7,15}</string>
		</dict>
		<key>e_bullet_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,2},{5,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,11}}</string>
			<key>sourceSize</key>
			<string>{5,11}</string>
		</dict>
		<key>e_bullet_3_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,9},{6,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,13}}</string>
			<key>sourceSize</key>
			<string>{6,13}</string>
		</dict>
		<key>e_bullet_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_4_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,82},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,25},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,9},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,25},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,17},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,17},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,17},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,10},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,9},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,9},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_5_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,9},{6,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,14}}</string>
			<key>sourceSize</key>
			<string>{6,14}</string>
		</dict>
		<key>e_bullet_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,15},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_6_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,17},{6,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,9}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>e_bullet_7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_7_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,33},{8,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,16}}</string>
			<key>sourceSize</key>
			<string>{8,16}</string>
		</dict>
		<key>e_bullet_8_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,59},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>e_bullet_8_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,61},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>e_bullet_8_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,44},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>e_bullet_8_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,44},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>e_bullet_8_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,43},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>e_bullet_8_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,42},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>e_bullet_8_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,83},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>e_bullet_8_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>e_bullet_8_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,61},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>e_bullet_8_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,61},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{25,20}</string>
		</dict>
		<key>e_bullet_9_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>e_bullet_9_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,60},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>e_bullets.png</string>
		<key>size</key>
		<string>{126,105}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c040fafe4212a9dfa3b04e18d5ebf726$</string>
		<key>textureFileName</key>
		<string>e_bullets.png</string>
	</dict>
</dict>
</plist>
