<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explode_B_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,104},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>explode_B_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,44},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,23},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,23},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,23},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,23},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,2},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,2},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,2},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,102},{12,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,18}}</string>
			<key>sourceSize</key>
			<string>{12,18}</string>
		</dict>
		<key>explode_B_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,65},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,65},{13,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,18}}</string>
			<key>sourceSize</key>
			<string>{13,18}</string>
		</dict>
		<key>explode_B_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,85},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>explode_B_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,104},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>explode_B_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,86},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>explode_B_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,86},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>explode_B_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,65},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,107},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,44},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,44},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>explode_B_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{17,44},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explode_B.png</string>
		<key>size</key>
		<string>{62,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f3f52d37b2765b55f14008dd253d1e7a$</string>
		<key>textureFileName</key>
		<string>explode_B.png</string>
	</dict>
</dict>
</plist>
