<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>explode_A_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,2},{29,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>explode_A_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,65},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,35},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,32},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,2},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>explode_A_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,31},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,2},{30,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>explode_A_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>explode_A_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,137},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,134},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,133},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,103},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,100},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,69},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>explode_A_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,66},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explode_A.png</string>
		<key>size</key>
		<string>{113,171}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:815c5b69a449274ae2ce4bd937812b41$</string>
		<key>textureFileName</key>
		<string>explode_A.png</string>
	</dict>
</dict>
</plist>
