<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>medal_box_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,14},{320,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,25}}</string>
			<key>sourceSize</key>
			<string>{320,25}</string>
		</dict>
		<key>medal_box_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,10}}</string>
			<key>sourceSize</key>
			<string>{320,10}</string>
		</dict>
		<key>medal_mask_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,74},{160,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,70}}</string>
			<key>sourceSize</key>
			<string>{160,70}</string>
		</dict>
		<key>medal_mask_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{160,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,70}}</string>
			<key>sourceSize</key>
			<string>{160,70}</string>
		</dict>
		<key>medal_minibox_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,41},{273,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,67}}</string>
			<key>sourceSize</key>
			<string>{273,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>medal.png</string>
		<key>size</key>
		<string>{486,146}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b1c46d821fdb21b736ce8c21be476a48$</string>
		<key>textureFileName</key>
		<string>medal.png</string>
	</dict>
</dict>
</plist>
