<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_6_p_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{144,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,113}}</string>
			<key>sourceSize</key>
			<string>{144,113}</string>
		</dict>
		<key>m_6_p_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,117},{200,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,197}}</string>
			<key>sourceSize</key>
			<string>{200,197}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>map_6.png</string>
		<key>size</key>
		<string>{204,316}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1b0c80b2b517593a90238041784107e5$</string>
		<key>textureFileName</key>
		<string>map_6.png</string>
	</dict>
</dict>
</plist>
