<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_4_p_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{205,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,157}}</string>
			<key>sourceSize</key>
			<string>{205,157}</string>
		</dict>
		<key>m_4_p_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{203,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,203}}</string>
			<key>sourceSize</key>
			<string>{203,203}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>map_4.png</string>
		<key>size</key>
		<string>{209,366}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cb4ca1c6370f547742b805b2cb03d468$</string>
		<key>textureFileName</key>
		<string>map_4.png</string>
	</dict>
</dict>
</plist>
