<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>back_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,414},{97,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,97}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>back_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,64},{97,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,97}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>btA_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,766},{210,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,108}}</string>
			<key>sourceSize</key>
			<string>{210,108}</string>
		</dict>
		<key>btA_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,656},{210,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,108}}</string>
			<key>sourceSize</key>
			<string>{210,108}</string>
		</dict>
		<key>btB_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,118},{166,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,122}}</string>
			<key>sourceSize</key>
			<string>{166,122}</string>
		</dict>
		<key>btB_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,772},{166,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,122}}</string>
			<key>sourceSize</key>
			<string>{166,122}</string>
		</dict>
		<key>btD_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,523},{216,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,69}}</string>
			<key>sourceSize</key>
			<string>{216,69}</string>
		</dict>
		<key>btD_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,2},{216,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,69}}</string>
			<key>sourceSize</key>
			<string>{216,69}</string>
		</dict>
		<key>bt_buy_gem_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,801},{155,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,60}}</string>
			<key>sourceSize</key>
			<string>{155,60}</string>
		</dict>
		<key>bt_buy_gem_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,352},{155,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,60}}</string>
			<key>sourceSize</key>
			<string>{155,60}</string>
		</dict>
		<key>bt_buy_gem_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,2},{155,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,60}}</string>
			<key>sourceSize</key>
			<string>{155,60}</string>
		</dict>
		<key>bt_main_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{568,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,83}}</string>
			<key>sourceSize</key>
			<string>{568,83}</string>
		</dict>
		<key>bt_main_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,631},{568,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,83}}</string>
			<key>sourceSize</key>
			<string>{568,83}</string>
		</dict>
		<key>bt_main_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,546},{568,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,83}}</string>
			<key>sourceSize</key>
			<string>{568,83}</string>
		</dict>
		<key>bt_mission_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,444},{568,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,100}}</string>
			<key>sourceSize</key>
			<string>{568,100}</string>
		</dict>
		<key>bt_mission_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{568,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,100}}</string>
			<key>sourceSize</key>
			<string>{568,100}</string>
		</dict>
		<key>bt_mission_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{568,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,100}}</string>
			<key>sourceSize</key>
			<string>{568,100}</string>
		</dict>
		<key>bt_mission_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{568,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,100}}</string>
			<key>sourceSize</key>
			<string>{568,100}</string>
		</dict>
		<key>close_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,801},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>close_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,414},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>itemB_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,388},{173,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,133}}</string>
			<key>sourceSize</key>
			<string>{173,133}</string>
		</dict>
		<key>itemB_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,253},{173,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,133}}</string>
			<key>sourceSize</key>
			<string>{173,133}</string>
		</dict>
		<key>itemB_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,118},{173,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,133}}</string>
			<key>sourceSize</key>
			<string>{173,133}</string>
		</dict>
		<key>item_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,594},{88,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,131}}</string>
			<key>sourceSize</key>
			<string>{88,131}</string>
		</dict>
		<key>item_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,639},{88,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,131}}</string>
			<key>sourceSize</key>
			<string>{88,131}</string>
		</dict>
		<key>item_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,523},{88,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,131}}</string>
			<key>sourceSize</key>
			<string>{88,131}</string>
		</dict>
		<key>medal_minibox_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{546,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{546,134}}</string>
			<key>sourceSize</key>
			<string>{546,134}</string>
		</dict>
		<key>option_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{879,242},{130,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,108}}</string>
			<key>sourceSize</key>
			<string>{130,108}</string>
		</dict>
		<key>option_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,242},{130,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,108}}</string>
			<key>sourceSize</key>
			<string>{130,108}</string>
		</dict>
		<key>sound_slider_bg_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,594},{205,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,43}}</string>
			<key>sourceSize</key>
			<string>{205,43}</string>
		</dict>
		<key>sound_slider_bg_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,73},{205,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,43}}</string>
			<key>sourceSize</key>
			<string>{205,43}</string>
		</dict>
		<key>sound_slider_bt_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,801},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>sound_slider_bt_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,863},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>allBt.png</string>
		<key>size</key>
		<string>{1014,945}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e218a121e383b904904e177fb061534e$</string>
		<key>textureFileName</key>
		<string>allBt.png</string>
	</dict>
</dict>
</plist>
