<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>enemy_life_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,152},{50,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,4}}</string>
			<key>sourceSize</key>
			<string>{50,4}</string>
		</dict>
		<key>icon_arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2},{86,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,55}}</string>
			<key>sourceSize</key>
			<string>{86,55}</string>
		</dict>
		<key>icon_buyGemList_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,367},{61,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,65}}</string>
			<key>sourceSize</key>
			<string>{61,65}</string>
		</dict>
		<key>icon_buyGemList_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,222},{75,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,69}}</string>
			<key>sourceSize</key>
			<string>{75,69}</string>
		</dict>
		<key>icon_buyGemList_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{79,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,86}}</string>
			<key>sourceSize</key>
			<string>{79,86}</string>
		</dict>
		<key>icon_buyGemList_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,59},{84,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,79}}</string>
			<key>sourceSize</key>
			<string>{84,79}</string>
		</dict>
		<key>icon_buyGemList_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{84,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,75}}</string>
			<key>sourceSize</key>
			<string>{84,75}</string>
		</dict>
		<key>icon_buyGemList_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,140},{83,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,80}}</string>
			<key>sourceSize</key>
			<string>{83,80}</string>
		</dict>
		<key>icon_buyGemList_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{83,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,61}}</string>
			<key>sourceSize</key>
			<string>{83,61}</string>
		</dict>
		<key>icon_enemy.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,254},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{30,28}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>icon_gem.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,158},{43,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,49}}</string>
			<key>sourceSize</key>
			<string>{43,49}</string>
		</dict>
		<key>icon_get.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{141,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,46}}</string>
			<key>sourceSize</key>
			<string>{141,46}</string>
		</dict>
		<key>icon_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,254},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>icon_medal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{63,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,89}}</string>
			<key>sourceSize</key>
			<string>{63,89}</string>
		</dict>
		<key>icon_music.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{67,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,64}}</string>
			<key>sourceSize</key>
			<string>{67,64}</string>
		</dict>
		<key>icon_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,297},{66,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,38}}</string>
			<key>sourceSize</key>
			<string>{66,38}</string>
		</dict>
		<key>icon_noget.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,50},{139,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{139,46}}</string>
			<key>sourceSize</key>
			<string>{141,46}</string>
		</dict>
		<key>icon_plain.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,222},{38,30}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{38,30}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>icon_sfx.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,434},{59,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{59,64}}</string>
			<key>sourceSize</key>
			<string>{67,64}</string>
		</dict>
		<key>icon_stone.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,209},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,49}</string>
		</dict>
		<key>icon_tipBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,337},{62,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,59}}</string>
			<key>sourceSize</key>
			<string>{62,59}</string>
		</dict>
		<key>icon_unknown.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,293},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>icon_warning.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,98},{51,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,46}}</string>
			<key>sourceSize</key>
			<string>{51,46}</string>
		</dict>
		<key>plain_life_pro.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,146},{50,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,4}}</string>
			<key>sourceSize</key>
			<string>{50,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>icons.png</string>
		<key>size</key>
		<string>{249,500}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c42ba911752f6fee27edfccc8edd3bf7$</string>
		<key>textureFileName</key>
		<string>icons.png</string>
	</dict>
</dict>
</plist>
