<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bt_arrow_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{124,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{124,148}}</string>
			<key>sourceSize</key>
			<string>{130,148}</string>
		</dict>
		<key>bt_arrow_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{130,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,148}}</string>
			<key>sourceSize</key>
			<string>{130,148}</string>
		</dict>
		<key>bt_arrow_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,152},{124,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{124,148}}</string>
			<key>sourceSize</key>
			<string>{130,148}</string>
		</dict>
		<key>dijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,194}}</string>
			<key>offset</key>
			<string>{1,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,42},{320,194}}</string>
			<key>sourceSize</key>
			<string>{322,236}</string>
		</dict>
		<key>dijia2.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,2},{28,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,219}}</string>
			<key>sourceSize</key>
			<string>{28,219}</string>
		</dict>
		<key>gemTip_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,198},{132,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,48}}</string>
			<key>sourceSize</key>
			<string>{132,48}</string>
		</dict>
		<key>numBackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,302},{197,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,39}}</string>
			<key>sourceSize</key>
			<string>{197,39}</string>
		</dict>
		<key>plain_progress.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,223},{49,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,6}}</string>
			<key>sourceSize</key>
			<string>{49,6}</string>
		</dict>
		<key>plain_progress_box.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,248},{69,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,81}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>playerBag.png</string>
		<key>size</key>
		<string>{501,348}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:71133a36b8a3daf329710a7306205c54$</string>
		<key>textureFileName</key>
		<string>playerBag.png</string>
	</dict>
</dict>
</plist>
